@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/* HEADEEEEEEEEEEEEEEEEEEER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0rem;
  border-bottom: 3px solid black;
  height: 7rem;
  background-color: #cccccc;
  position: sticky;
  top: 0px; }

.listas {
  list-style-type: none;
  font-family: 'Inconsolata', monospace; }

.listas li {
  display: inline-block;
  margin: 1rem 1rem;
  font-size: 20px; }

.listas li a {
  color: black; }

.imagen {
  width: 100px;
  border-radius: 30rem; }

/* HEADEEEEEEEEEEEEEEEEEER */
/* FOOTTTTTTTTTTTEEEEEEEER */
footer {
  height: 8rem;
  border-top: 3px solid black;
  text-align: center;
  background-color: #cccccc; }

footer p {
  margin-top: 1.5rem;
  font-size: larger;
  font-family: 'Inconsolata', monospace;
  font-weight: 900; }

.bi-instagram {
  font-size: 30px;
  color: #960000; }

.bi-twitter {
  font-size: 30px;
  color: #960000; }

.bi-facebook {
  font-size: 30px;
  color: #960000; }

.iconos {
  display: flex;
  justify-content: center;
  gap: 3rem; }

/* FOOTTTTTTTTTTTEEEEEEEER */
/* INDEEEEEEEEEEEEEEEX */
.main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 450px 450px;
  grid-template-areas: "a1 a2" "a3 a4";
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding-top: 1.5rem;
  background-image: linear-gradient(to right, red, black); }

.imagen_main {
  width: 620px;
  height: 452px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 1px solid black;
  margin-top: 4px;
  margin-bottom: 5px; }

.logo {
  width: 20%; }

.tarjeta, .tarjeta_uno, .tarjeta_dos {
  text-align: center;
  width: 20rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, black 0px 0px 0px 3px;
  padding: 3rem;
  background-color: #cccccc;
  font-family: 'Bebas Neue', cursive;
  height: 400px; }

.tarjeta_uno {
  grid-area: a3; }

.tarjeta_dos {
  grid-area: a4; }

.contenedor_uno {
  background-color: #cccccc;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 1px solid black;
  border-left: 2px solid black;
  text-align: center;
  height: 452px;
  width: 600px; }
  .contenedor_uno h1 {
    color: #ce001b;
    font-family: 'Inconsolata', monospace;
    font-style: italic;
    font-weight: 900;
    border-bottom: 6px double black;
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .contenedor_uno h2 {
    color: #ce001b;
    font-family: 'Inconsolata', monospace; }
  .contenedor_uno p {
    font-family: 'Bebas Neue', cursive;
    padding: 1rem;
    color: #ce001b; }

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1.5rem; }
  .imagen_main {
    height: 90%;
    width: 90%;
    margin-left: 1.5rem; }
  .tarjeta_dos {
    font-size: 15px; }
  .tarjeta_uno {
    font-size: 15px;
    height: 380px; }
  .contenedor_uno {
    font-size: 15px;
    height: 500px;
    width: 90%; } }

/* INDEEEEEEEEEEEEEEEX */
/* GALERIAAAA RIVEEEEEEEER */
.galeria {
  background-image: linear-gradient(to right, red, black);
  padding: 2rem; }

.fotos_uno {
  width: 100%;
  height: auto;
  border: 3px solid black; }

.contenedor_galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-gap: 10px; }

.galeria_h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-style: italic;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: 2rem; }

.fotos_uno:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 15px;
  transition: all 2s;
  transform: scale(1.15); }

@media only screen and (max-width: 600px) {
  header {
    position: inherit;
    height: 250px; }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem; }
  .fotos_uno {
    width: 150px;
    height: 150px; } }

/* GALERIAAAA RIVEEEEEEEER */
/* LIBERTADORES RIVEEEEEEEER */
.main_libertadores {
  height: 1750px;
  width: 60%;
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: 400px 400px 400px 400px;
  grid-template-areas: "a1" "a2" "a3" "a4";
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  gap: 0.8rem;
  background-color: #cccccc;
  margin-left: 20%;
  border: 3px solid #960000; }

.h2_lib {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  background-color: #960000;
  padding: 1rem; }

.video {
  border: 3px solid black; }

.h1_libertadores {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  padding: 1rem; }

.fondo {
  background-image: linear-gradient(to right, red, black);
  height: 1825px; }

@media only screen and (max-width: 600px) {
  .main_libertadores {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .iframe {
    height: 65%;
    width: 100%;
    justify-content: center;
    align-items: center; }
  .video {
    width: 90%; } }

/* LIBERTADORES RIVEEEEEEEER */
/* ESTADIO RIVEEEEEEEEEEER  */
.best_estadio {
  width: 600px;
  height: 450px;
  margin: 1.5em;
  border: 3px solid black; }

.main_estadio {
  padding: 2rem;
  background-image: linear-gradient(to right, red, black); }

.div_estadio {
  background-color: #cccccc;
  border: 3px solid black;
  height: 1750px; }
  .div_estadio .texto {
    grid-area: a1;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    color: #960000;
    padding: 2rem;
    margin-bottom: 2rem;
    justify-content: space-around; }

.iframe_estadio {
  margin: 4rem 1.5rem 1.5rem 1.5rem;
  border: 3px solid black;
  grid-area: a2;
  width: 580px;
  height: 450px; }

.best_estadio {
  grid-area: a3;
  margin-top: 4rem; }

.templo {
  height: 250px;
  width: 1180px;
  border: 3px solid black; }

h2 {
  margin-bottom: 1rem;
  font-family: 'Inconsolata', monospace; }

@media only screen and (max-width: 600px) {
  .div_estadio {
    display: flex;
    flex-direction: column;
    height: 1640px;
    justify-content: space-around;
    align-content: center; }
  .templo {
    width: 90%;
    height: 250px; }
  .best_estadio {
    width: 90%;
    height: 250px; }
  .iframe_estadio {
    width: 90%;
    height: 300px; } }

/* ESTADIO RIVEEEEEEEEEER */
/* CONTACTO RIVEEEEEEEEER */
.main_contacto {
  width: 100%;
  height: 698px;
  display: grid;
  grid-template-columns: 60% 30%;
  grid-template-rows: 500px;
  grid-template-areas: "a1 a2";
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-image: linear-gradient(to right, red, black); }

.mensaje_titulo {
  font-size: 35px;
  color: black;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  margin-top: 1rem; }

.mensaje_parrafo {
  font-size: 20px;
  color: white;
  text-align: start;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  margin-top: 1rem; }

.formulario {
  font-family: 'Bebas Neue', cursive;
  border: 3px solid black;
  padding: 2rem;
  text-align: center;
  background-color: #cccccc;
  grid-area: a2;
  margin-top: 22px; }

@media only screen and (max-width: 600px) {
  .main_contacto {
    display: flex;
    flex-direction: column;
    height: 900px;
    gap: 1rem; }
  .formulario {
    margin-bottom: 2rem; } }

/* CONTACTO RIVEEEEEEEEER */
