    /* GALERIAAAA RIVEEEEEEEER */
   
    .galeria{    
        background-image: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 0));    
        padding: 2rem;
    }     
     
    .galeria_h1{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic; 
        font-weight: 900; 
        font-size: 2rem;
        padding-bottom: 2rem;
        color: white;
    }    

    .contenedor{
        display: grid;
        grid-template-columns: repeat(3, 6fr);
        margin-left:5rem;
        margin-right: 5rem;
    }



    .contenedor figure{
        position: relative;
        height: 250px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
        border: solid 3px rgb(255, 255, 255);
        
    }

    .contenedor figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }

    .contenedor figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(150, 0, 0, 0.6); 
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        color: white;
        font-size: 25px;
        padding-top: 2rem;
        font-family: 'Courier New', Courier, monospace;
    }

    .contenedor figure:hover > .capa{
        opacity: 1;
        visibility: visible;

    }

    
    @media only screen and (max-width: 600px ){
      
        header{
            position: inherit;
            height: 250px;    
    
        }  
        .contenedor{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }  
        
        
    }
    
     
    
    /* GALERIAAAA RIVEEEEEEEER */